.vscode/
Docker/gitea/*
.terraform*
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/Sentinel-Nginx-Test/terraform.tfstate
Terraform/Sentinel-Nginx-Test/terraform.tfstate.backup
Terraform/Longhorn-TF/terraform.tfstate
Terraform/Longhorn-TF/terraform.tfstate.backup
Terraform/Longhorn-TF/terraform.log
